.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @inventory, :url => "/factories/#{idencode(@factory.id)}/inventories/#{@inventory.id ? idencode(@inventory.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @inventory.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@inventory.errors.count, "错误")}:"
            %ul
              - @inventory.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-sm-6.mx-auto.d-flex.align-items-center
            = image_tag "gykg.jpg"
            = f.text_field :name, :class => "form-control" , :required => true
          .col-md-8.offset-md-2.p-5.border
            #flash_explanation
          
            = f.fields_for :inventory_items do |inventory_item|
              = render 'inventory_item_fields', f: inventory_item 
            .links.mt-3
              = link_to_add_association "添加", f, :inventory_items, :class => "button button-small button-primary"
          
            .card.border-0.mb-3.rounded-0
              .card-body
                = f.text_area :desc, :class => "form-control", :rows => "10" , :placeholder => '备注'
                      
            .form-group.row
              .col-3.offset-3
                = f.submit '保存', :class => "button  button-small button-action"
            -#
              .col-3.offset-1
                = link_to '返回', inventories_path, :class => "button button-small  button-caution"
