- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-sm-12
              %h2.text-center
                = image_tag "gykg.jpg"
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                .card-header.bg-transparent.border-dark
                  %h5
                    = Setting.inventories.label
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.inventories.name
                        %td.p-2.text-center
                          = @inventory.name
                    
                      
                        %td.p-2.text-center
                          = Setting.inventories.desc
                        %td.p-2.text-center
                          = @inventory.desc
                    
                      
                        %td.p-2.text-center
                          = Setting.inventories.palce
                        %td.p-2.text-center
                          = @inventory.palce
                    
              .row
              
              .row
              
              .row
              
              
              
                .col-md-12
                  .card.border-0.mb-3.rounded-0
                    .card-header.bg-transparent.border-info
                      %h5
                        = Setting.inventory_items.label
                    .card-body
                      %table.table-bordered.day-pdt-table.w-100
                        %tbody
                          - @inventory.inventory_items.each do |inventory_item|
                             
                            %tr
                              %td.p-3.text-center
                                = Setting.inventory_items.name
                              %td.p-3.text-center
                                = inventory_item.name
                             
                            
                              %td.p-3.text-center
                                = Setting.inventory_items.content
                              %td.p-3.text-center
                                = inventory_item.content
                             
                            
                              %td.p-3.text-center
                                = Setting.inventory_items.method
                              %td.p-3.text-center
                                = inventory_item.method
                             
                            %tr
                              %td.p-3.text-center
                                = Setting.inventory_items.ctg
                              %td.p-3.text-center
                                = inventory_item.ctg
                             
                            
                              %td.p-3.text-center
                                = Setting.inventory_items.status
                              %td.p-3.text-center
                                = inventory_item.status
                             
                            
                              %td.p-3.text-center
                                = Setting.inventory_items.place
                              %td.p-3.text-center
                                = inventory_item.place
                            
              
      = render "layouts/bootstrap/card"
