- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: @grp_review.name
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 

      - content_for :card_body do
        .container-fluid
          .row
            .col-md-12
              %table#item-table.text-center.table-sm{:'data-toggle' => "table", :'data-id-table'=>"advancedTable", :"data-pagination"=>"true", :'data-page-size' => "25", :"data-search" => "true", :'data-advanced-search'=>"true", :'data-virtual-scroll' => false }
                %thead
                  %tr
                    %th{:scope => "col", :'data-field' => "id"} #
                  
                    %th{:scope => "col", :'data-field' => "name"}
                      = Setting.reviews.name
                  
                    %th{:scope => "col", :'data-field' => "search_date"}
                      = Setting.reviews.search_date
                  
                    %th{:scope => "col", :'data-field' => "state"}
                      = Setting.reviews.state
                  
                    %th{:scope => "col", :'data-field' => "button"}
                %tbody
                  - @reviews.each_with_index do |review, index|
                    %tr
                      %td{:scope => "row"}
                        = index+1
                    
                      %td
                        = review.factory.name
                      %td
                        = review.search_date
                      %td
                        = review_state(review)
                      %td
                        .container-fluid
                          .row.justify-content-center
                            = link_to "查看",  review_grp_review_path(idencode(@grp_review.id), :review_id => idencode(review.id)), :class => "button button-primary button-small mr-1" 
                            = link_to "下整改",  edit_factory_review_review_result_path(idencode(review.factory.id), idencode(review.id), idencode(review.review_result.id)), :class => "button button-caution button-small mr-1" 

          .row
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                      
                        %td.p-2.text-center
                          = Setting.grp_reviews.search_date
                        %td.p-2.text-center
                          = @grp_review.search_date
                    
                        %td.p-2.text-center
                          = Setting.grp_reviews.state
                        %td.p-2.text-center
                          = grp_review_state(@grp_review)
                      
                      %tr
                        %td.p-2.text-center
                          = Setting.grp_reviews.content
                        %td.p-2.text-center{:colspan => 3}
                          = @grp_review.content
                    
                      
                      -#
                        %td.p-2.text-center
                          = Setting.grp_reviews.desc1
                        %td.p-2.text-center
                          = @grp_review.desc1
                    
                      
                        %td.p-2.text-center
                          = Setting.grp_reviews.desc2
                        %td.p-2.text-center
                          = @grp_review.desc2
                    
              .row
                .col-md-6
                  - unless @grp_review.attch.blank?
                    = link_to URI.decode(File.basename(@grp_review.attch_url)), download_append_grp_review_path(idencode(@grp_review.id))
              
              
              .row
                - @grp_review.attachments.each_with_index do |e, i|
                  .col-md-12
                    = link_to File.basename(URI.decode(e.file_url)), download_attachment_grp_review_path(idencode(@grp_review.id), :number => i, :ft => '')
              
              
      = render "layouts/bootstrap/card"
