- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        %table#day-pdt-rpt-table.text-center.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable"}
          %thead
            %tr
              %th{:scope => "col"} #

              %th.w-50{:scope => "col"}
                = Setting.examines.name

              %th{:scope => "col"}
                状态

              %th.w-50{:scope => "col"}
                设置

          %tbody
            - @examines.each_with_index do |examine, index|
              %tr
                %td{:scope => "row"}
                  = index+1
              
                %td
                  = examine.name
                %td
                  = examine_state(examine)
                %td
                  .container-fluid
                    .row.justify-content-center.align-items-center
                      -#
                        -unless examine.hierarchy.blank?
                        = link_to "下载",  export_factory_examine_path(idencode(@factory.id), examine), :class => "button button-action button-small mr-1" 
                
                      %button.button.button-primary.button-small.pull-right.mr-1{"data-target" => "#newModal", "data-emid" => idencode(examine.id), "data-toggle" => "modal", :type => "button"}
                        查看
            

= render "layouts/control_panel"

#newModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-lg.modal-dialog-centered
    .modal-content
      .modal-header
        = link_to '下载', nil, {:id => "zip-download", :class => "button button-royal button-small pull-right"} 
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x 
      .modal-body.ctg-tree-ctn
        %ul#examine-nodes-ctn.ztree
