- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-8.offset-2
        .card-body
          %table.table-bordered.day-pdt-table.w-100.mb-3
            %tbody
              %tr
                %td.p-2.text-center
                  = Setting.agendas.title
                %td.p-2.text-center
                  = @agenda.title
              %tr
                %td.p-2.text-center
                  = Setting.agendas.worktime
                %td.p-2.text-center
                  = @agenda.worktime.strftime("%Y-%m-%d %H:%M:%S")
              %tr
                %td.p-2.text-left{:colspan => 2}
                  = @agenda.content
            
            
            .row
              .col-md-6
                - unless @agenda.idattch.blank?
                  = link_to URI.decode(File.basename(@agenda.idattch_url)), download_append_agenda_path(@agenda.id)
            
            
= render "layouts/control_panel"
