- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-sm-12
              %h2.text-center
                = image_tag "gykg.jpg"
                = @drill.title
            .col-md-8.offset-2.p-5.border
              .card.border-0.mb-3.rounded-0
                -#
                  .card-header.bg-transparent.border-dark
                  %h5
                    = Setting.drills.label
                .card-body
                  %table.table-bordered.day-pdt-table.w-100.mb-3
                    %tbody
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.drills.train_time
                        %td.p-2.text-center
                          = @drill.train_time.strftime('%Y-%m-%d %H:%M:%S')
                    
                      
                      %tr
                        %td.p-2.text-center
                          = Setting.drills.address
                        %td.p-2.text-center
                          = @drill.address
                    
                      %tr
                        %td.p-2.text-center
                          = Setting.drills.people
                        %td.p-2.text-center
                          = @drill.people
                      %tr
                        %td.p-2.text-left{:colspan => 2}
                          = @drill.content
                    
              
              .row
                .col-md-12
                  = image_tag @drill.sign_url, :class => "w-100"
              
                .col-md-12
                  = image_tag @drill.scene_url, :class => "w-100"
              
                .col-md-12
                  = image_tag @drill.estimate_url, :class => "w-100"
              
              
              .row
              
                .col-md-6
                  - unless @drill.summary.blank?
                    = link_to URI.decode(File.basename(@drill.summary_url)), download_append_factory_drill_path(idencode(@factory.id), idencode(@drill.id))
              
              
              .row
                - @drill.attachments.each_with_index do |e, i|
                  .col-md-12
                    = link_to File.basename(URI.decode(e.file_url)), download_attachment_factory_drill_path(idencode(@factory.id), idencode(@drill.id), :number => i, :ft => '')
              
              
      = render "layouts/bootstrap/card"
