- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "wpforms", text: t(controller_name + "." + action_name + '.title')
          -#
            = link_to "#{request.url}".sub("edit", ""), :class => "button button-small pull-right button-primary" do
          = link_to "/factories/#{idencode(@factory.id)}/reviews/", :class => "button button-small  pull-right button-primary mr-1" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 

          = link_to "确认整改", "/factories/#{idencode(@factory.id)}/reviews/#{idencode(@review.id)}/modify_results/#{idencode(@modify_result.id)})/modify", :class => "button button-small  pull-right button-primary mr-1", :data => {:confirm => "确定已整改?"}

      - content_for :card_body do
        .container-fluid.p-0
          .row
            .col-md-12
              .card-body
                = render 'form'

      = render "layouts/bootstrap/card"
