.container-fluid
  .row
    .col-sm-12
      %h2.text-center
        = image_tag "gykg.jpg"
        = Setting.modify_results.label
    .col-md-8.offset-2.p-5.border
      .card.border-0.mb-3.rounded-0
        -#
          .card-header.bg-transparent.border-dark
          %h5
        .card-body
          %table.table-bordered.day-pdt-table.w-100.mb-3
            %tbody
              %tr
                %td.p-2.text-center
                  = Setting.modify_results.search_date
                %td.p-2.text-center
                  = @modify_result.search_date
            
                %td.p-2.text-center
                  = Setting.modify_results.number
                %td.p-2.text-center
                  = @modify_result.number
            
              %tr
                %td.p-2.text-center
                  = Setting.modify_results.worker
                %td.p-2.text-center
                  = @modify_result.worker
            
              
                %td.p-2.text-center
                  = Setting.modify_results.signer
                %td.p-2.text-center
                  = @modify_result.signer
            
              %tr
                %td.p-2.text-center
                  = Setting.modify_results.content
                %td.p-2.text-center{:colspan => 3}
                  = @modify_result.content
            
      .row
      
        .col-md-6
          - unless @modify_result.attach.blank?
            = link_to URI.decode(File.basename(@modify_result.attach_url)), download_append_factory_review_modify_result_path(idencode(@factory.id), idencode(@review.id), idencode(@modify_result.id))
      
        .col-md-6
          - unless @modify_result.idattach.blank?
            = link_to URI.decode(File.basename(@modify_result.idattach_url)), download_idappend_factory_review_modify_result_path(idencode(@factory.id), idencode(@review.id), idencode(@modify_result.id))
      
      
      .row
        - @modify_result.attachments.each_with_index do |e, i|
          .col-md-12
            = link_to File.basename(URI.decode(e.file_url)), download_attachment_factory_review_modify_result_path(idencode(@factory.id), idencode(@review.id), idencode(@modify_result.id), :number => i, :ft => '')
